@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {

  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

/*nav start*/
.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
  padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
  padding-bottom: 80px;
	box-sizing: border-box;
}

section{
  position:relative;
  width:640px;
  margin:50px auto;
}
nav{
  width:100%;
}
nav ul li{
  display:inline-block;
  list-style:none;
  width:160px;
  text-align:center;
  font-family:Helvetica, sans-serif;
  border: 1px dashed rgba(255,255,255, 0);
  color:#fff;
  padding:10px 0 10px 0;
  margin:-1px -5px -1px -1px;
  cursor:pointer;
  transition:all .2s;
  -webkit-transition:all .2s;
}
nav ul li:hover{
  /*border:1px dashed #fff;*/
  background:rgba(255,255,1,.1);
}

nav ul li a{
  text-decoration: none;
  color:#fff;
}

nav ul{
  border: 1px solid #fff;
  position:absolute;
  width:100%;
  padding:0;
  z-index:100;
}
nav div{
  position:absolute;
  left:0;
  top:16px;
  width:162px;
  height:40px;
  z-index:99;
}

/*nav end*/

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
h2 {
	font-size: 56px;
}
.hero {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding: 250px 0;
	margin: 30px;
  color:#ffffff
}




.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}



/*Article Style*/
.main-area {
	width: 50%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.main-area a{
  text-decoration: none;
  color:black;
}

/*Aside Style*/
.sidebar {
	width: 50%;
	float: right;
	padding: 60px 40px;
	box-sizing: border-box;
	font-size: 85%;
}

.form-row{
  box-sizing:border-box;
  margin:10px 100px 1px 100px;

}

.row{
  border-style: dotted;
  border-width: 2px;
}

.form-row ul li {

    list-style-type:lower-greek;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}

/*catagories*/
.cat{

  width: 940px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.letf-part{
  width: 60%;
}

.right-part{
  width: 40%;
}

/*commad board*/

.command-board{
  border: 6px solid black;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.board{
  text-align: left;
  margin:30px 30px;
  border-style: solid;

}

.command p {
  text-align: left;
}

.reply{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/*footer */
.made-with-love {
  margin-top: 12.5px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
